@font-face {
    font-family: "Bebas Neue";
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/BebasNeue-Bold.ttf') format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/Roboto-Black.ttf') format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Roboto-Bold.ttf') format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Roboto-Regular.ttf') format("truetype");
}

