*, *::before, *::after
  margin: 0
  box-sizing: border-box

main
  overflow: hidden

.container
  margin: 0 auto
  width: 100%
  &_1920
    padding: 0
    max-width: 1920px
  &_1780
    padding: 0 0 0 20px
    max-width: 1820px
  &_body
    position: relative

.title
  &_h2
    margin: 0
    font-size: 120px
    font-family: "Bebas Neue", sans-serif
    color: #123e7c
    text-transform: uppercase

.video-slide__video-wrap
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0
  overflow: hidden
  z-index: 0
