.header
  position: fixed
  top: 0
  left: 0
  height: 70px
  width: 100%
  z-index: 50
  transition: background-color 0.3s ease-in-out
  &__top
    display: flex
    align-items: center
    background-color: var(--theme-blue)
    transition: background-color 0.3s
    .container
      display: flex
      align-items: center
  &__nav
    margin-right: 24px
  &__menu
    padding: 10vh 128px 40px 40px
    position: fixed
    top: 0
    left: 0
    height: 100vh
    width: 100vw
    translate: 0 -100%
    overflow-y: scroll
    overflow-x: hidden
    background-color: var(--theme-blue)
    color: white
    transition: translate 0.5s ease-in-out
    z-index: 60
    &.active
      translate: 0
    &__wrapper
      display: flex
      justify-content: space-between
      gap: 16px
    &__col
      &_1
        +center()
      &_2
        +center()
    &__nav
      .nav
        &__list
          display: flex
          flex-flow: column
        &__link
          font-size: 36px
    &__address
      display: flex
      gap: 40px
      flex-flow: column
      .contacts__address
        font-size: 24px

    .container
      min-height: 80vh
  &__logo
    .logo__link
      max-height: 32px
      img
        max-height: 32px
        max-inline-size: 100%
  &__aside
    padding-top: 40px
    position: absolute
    right: 0
    top: 70px
    width: 70px
    height: calc(100vh - 70px)
    display: flex
    flex-flow: column
    align-items: center
    gap: 32px
    background-color: var(--theme-blue)
    &__item
      font-size: 0
      cursor: pointer
  &__btn_burger
    padding: 0
    position: relative
    display: flex
    align-items: center
    justify-content: center
    flex-shrink: 0
    width: 70px
    height: 70px
    font-size: 0
    background-color: #08275a
    border: none
    z-index: 107
    cursor: pointer
    span
      position: relative
      width: 38px
      height: 2.23px
      background-color: white
      &::before, &::after
        content: ''
        position: absolute
        width: 38px
        height: 2px
        background-color: white
        transition: transform 0.3s ease-in-out
        right: 0
      &::before
        top: -12px
      &::after
        top: 12px
    &.active span
      background-color: transparent

    &.active span::before
      transform: rotate(45deg)
      top: 0

    &.active span::after
      transform: rotate(-45deg)
      top: 0

  &.transparent
    .header__top
      background-color: transparent
  &_white
    &.header .header__top
      background-color: transparent
    .nav
      &__link
        color: var(--blue)

.nav
  &__list
    display: flex
    flex-flow: wrap
    gap: 40px
  &__item
    display: block
  &__link
    padding: 4px
    display: block
    white-space: nowrap
    color: white
    font-size: 18px
    font-weight: 700
    font-family: Roboro, sans-serif
    transition: color 200ms ease-in-out
    text-decoration: none
  &_header
    margin-left: auto
