.hero
  display: flex
  flex-flow: column-reverse
  min-height: 920px
  position: relative
  background-repeat: no-repeat
  background-size: cover
  background-position: top center
  z-index: 10


.geography
  padding: 20px 0 80px
  background-color: #F6F6F6
  &__wrapper
    display: flex
    position: relative
  &__text
    position: absolute
    top: 0
    left: 0
    max-width: 520px
    h2
      margin-bottom: 24px
      color: #32333D
      font-family: Raleway, sans-serif
      font-size: 50px
      font-weight: 600
      line-height: 110%
      span
        color: #184EB8
    p
      font-family: Wix Madefor Display, sans-serif
      color: #8C8C8D
      font-size: 18px
      font-weight: 500
      line-height: 160%
      max-width: 500px
  .canvas
    margin-left: auto
