#canvas_svg
  path[data-region-id]
    transition: fill 0.2s
    &.highlighted
      fill: #FFB320

.canvas
  &__inner-popup
    display: none
    background: white
    color: #333333
    font-weight: bold
    padding: 4px 8px
    font-size: 13px
    border-radius: 4px
    pointer-events: none
  &__data-container
    //display: none
