/*! locomotive-scroll v4.1.3 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */
html.has-scroll-smooth {
  overflow: hidden;
}

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.has-scroll-smooth body {
  overflow: hidden;
}

.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh;
}

[data-scroll-direction=horizontal] [data-scroll-container] {
  height: 100vh;
  display: inline-block;
  white-space: nowrap;
}

[data-scroll-direction=horizontal] [data-scroll-section] {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  height: 100%;
}

.c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 100%;
  transform-origin: center right;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0;
}

.c-scrollbar:hover {
  transform: scaleX(1.45);
}

.c-scrollbar:hover, .has-scroll-scrolling .c-scrollbar, .has-scroll-dragging .c-scrollbar {
  opacity: 1;
}

[data-scroll-direction=horizontal] .c-scrollbar {
  width: 100%;
  height: 10px;
  top: auto;
  bottom: 0;
  transform: scaleY(1);
}

[data-scroll-direction=horizontal] .c-scrollbar:hover {
  transform: scaleY(1.3);
}

.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
  width: 7px;
  border-radius: 10px;
  margin: 2px;
  cursor: -webkit-grab;
  cursor: grab;
}

.has-scroll-dragging .c-scrollbar_thumb {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

[data-scroll-direction=horizontal] .c-scrollbar_thumb {
  right: auto;
  bottom: 0;
}

@font-face {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/BebasNeue-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/Roboto-Black.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}
*, *::before, *::after {
  margin: 0;
  box-sizing: border-box;
}

main {
  overflow: hidden;
}

.container {
  margin: 0 auto;
  width: 100%;
}
.container_1920 {
  padding: 0;
  max-width: 1920px;
}
.container_1780 {
  padding: 0 20px;
  max-width: 1820px;
}
.container_body {
  position: relative;
}

.title_h2 {
  margin: 0;
  font-size: 120px;
  font-family: "Bebas Neue", sans-serif;
  color: #123e7c;
}

.video-slide__video-wrap {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: 0;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 68px;
  z-index: 50;
  transition: background-color 0.3s ease-in-out;
}
.header__top {
  display: flex;
  align-items: center;
}
.header__top .container {
  display: flex;
  align-items: center;
}
.header__logo .logo__link {
  max-height: 32px;
}
.header__logo .logo__link img {
  max-height: 32px;
}
.header__aside {
  padding-top: 40px;
  position: absolute;
  right: 0;
  top: 68px;
  width: 68px;
  height: calc(100vh - 68px);
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 32px;
  background-color: #0e86d9;
}
.header__aside__item {
  font-size: 0;
  cursor: pointer;
}
.header__btn_burger {
  padding: 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 68px;
  height: 68px;
  font-size: 0;
  background-color: #08275a;
  border: none;
  z-index: 107;
  cursor: pointer;
}
.header__btn_burger span {
  position: relative;
  width: 38px;
  height: 2px;
  background-color: white;
}
.header__btn_burger span::before, .header__btn_burger span::after {
  content: "";
  position: absolute;
  width: 38px;
  height: 2px;
  background-color: white;
  right: 0;
}
.header__btn_burger span::before {
  top: -12px;
}
.header__btn_burger span::after {
  top: 12px;
}
.header.shrink {
  background-color: #333333;
}

.nav__list {
  display: flex;
  flex-flow: wrap;
  gap: 40px;
}
.nav__item {
  display: block;
}
.nav__link {
  padding: 4px;
  display: block;
  white-space: nowrap;
  color: white;
  font-size: 18px;
  font-weight: 700;
  font-family: Roboro, sans-serif;
  transition: color 200ms ease-in-out;
  text-decoration: none;
}
.nav_header {
  margin-left: auto;
}

.hero {
  display: flex;
  min-height: calc(100vh - 80px);
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  z-index: 10;
}
.hero__content {
  width: 48%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.hero__content__text {
  position: relative;
  text-align: center;
}
.hero__content__text .img_1 {
  position: absolute;
  top: 32px;
  left: -256px;
  width: 116px;
  z-index: 10;
}
.hero__content__text .img_2 {
  position: absolute;
  top: -72px;
  left: -182px;
  height: 320px;
  z-index: 10;
}
.hero__content__text .img_3 {
  position: absolute;
  top: -72px;
  left: -182px;
  height: 320px;
  z-index: 10;
}
.hero__content .blue {
  position: relative;
  z-index: 30;
  color: #1086e0;
  font-size: 94px;
  font-weight: 700;
  font-family: BebasNeue, sans-serif;
  opacity: 0;
  translate: -120px;
  transition: opacity 0.3s, translate 0.4s ease-in-out;
}
.hero__content .blue.show {
  opacity: 1;
  translate: 0;
}
.hero .title_h1 {
  width: 372px;
  min-height: 84px;
  color: white;
  font-size: 36px;
  font-weight: 700;
  font-family: Roboro, sans-serif;
  text-align: right;
  text-wrap: balance;
  position: relative;
  z-index: 20;
}
.hero__img-wrapper {
  position: absolute;
  display: flex;
}
.hero__img-wrapper img {
  width: 100%;
  max-height: 100%;
}
.hero__img-wrapper_1 {
  bottom: 0;
  right: 68px;
  max-height: 75%;
  height: 100%;
  width: calc(50% - 68px);
  align-items: end;
  z-index: 10;
}
.hero__img-wrapper_2 {
  bottom: 0;
  left: 0;
  max-height: 80%;
  height: 100%;
  width: 50%;
  align-items: end;
  z-index: 10;
}
.hero__img-wrapper_2 svg {
  max-height: 100%;
  height: auto;
  width: 100%;
  aspect-ratio: 283/181;
}
.hero__img-wrapper_3 {
  bottom: 0;
  top: 0;
  right: 68px;
  height: 100%;
  width: calc(50% - 68px);
  align-items: end;
  z-index: 10;
}
.hero__img-wrapper.hide .hero__img__pattern_1 {
  translate: 0 1200px;
}
.hero__img-wrapper.hide .hero__img__pattern_2 {
  translate: 0 -1200px;
}
.hero__img-wrapper.hide .hero__img__pattern_3 {
  translate: 0 -1200px;
}
.hero__img__pattern {
  border: none;
  position: absolute;
}
.hero__img__pattern_1 {
  top: 0;
  left: 14%;
  clip-path: polygon(0 0, 100% 44%, 100% 100%, 0 56%);
  background-color: rgba(17, 63, 169, 0.7);
  width: 30%;
  aspect-ratio: 310/540;
  transition: translate 0.6s ease-in-out;
}
.hero__img__pattern_2 {
  bottom: -180px;
  right: 0;
  clip-path: polygon(0 0, 100% 33%, 100% 100%, 0 57%);
  opacity: 0.3;
  background-color: #1086e0;
  width: 56%;
  aspect-ratio: 460/840;
  transition: translate 0.6s ease-in-out;
}
.hero__img__pattern_3 {
  bottom: 8%;
  left: 44%;
  clip-path: polygon(0 0, 100% 42%, 100% 100%, 0 58%);
  background-color: #1086e0;
  width: 20%;
  aspect-ratio: 460/840;
  transition: translate 0.8s ease-in-out;
}
.hero video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  -o-object-fit: cover;
  object-fit: cover;
  /* filter: grayscale(50%); */
  filter: grayscale(80%) contrast(150%);
}
.hero::after {
  background: rgba(8, 39, 90, 0.7);
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

#svg_bg10 .fil0 {
  fill: transparent;
  fill-rule: nonzero;
  transition: fill 0.3s ease-in-out;
}
#svg_bg10 .fil0.show {
  fill: #1086E0;
}

.benefits {
  position: relative;
  z-index: 20;
  background-color: #051b3f;
}
.benefits__list {
  display: flex;
}
.benefits__item {
  position: relative;
  flex: 1;
}
.benefits__item__text {
  padding: 26px 40px;
  color: white;
  font-size: 18px;
  font-weight: 700;
  font-family: Roboro, sans-serif;
  position: relative;
  z-index: 15;
}
.benefits__item::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  aspect-ratio: 4/3;
  clip-path: polygon(0 0, 0% 100%, 100% 100%);
  background-color: #113f8b;
  z-index: 5;
}

.services {
  padding-top: 48px;
}
.services__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2px;
}
.services__item {
  position: relative;
  overflow: hidden;
}
.services__item__info {
  padding: 100px 256px 40px 40px;
  position: relative;
  width: 90%;
  height: 100%;
  clip-path: polygon(0 0, 38% 0, 100% 100%, 0% 100%);
  background-color: #0087DD;
  color: white;
  z-index: 30;
}
.services__item__number {
  font-family: "Bebas Neue", sans-serif;
  font-size: 120px;
  color: #59bbff;
}
.services__item__title {
  margin-bottom: 14px;
  font-family: Roboto, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1;
}
.services__item__text {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}
.services__item img {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  z-index: 15;
  filter: grayscale(1);
  transition: filter 0.5s, scale 0.4s;
}
.services__item:hover img {
  filter: grayscale(0);
  scale: 1.05;
}
.services .title_h2 {
  line-height: 84px;
}

.geography {
  padding: 20px 0 80px;
  position: relative;
  z-index: 20;
  background-color: #F6F6F6;
}
.geography__wrapper {
  display: flex;
  position: relative;
}
.geography__text {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 520px;
}
.geography__text h2 {
  margin-bottom: 24px;
  color: #32333D;
  font-family: Raleway, sans-serif;
  font-size: 50px;
  font-weight: 600;
  line-height: 110%;
}
.geography__text h2 span {
  color: #184EB8;
}
.geography__text p {
  font-family: Wix Madefor Display, sans-serif;
  color: #8C8C8D;
  font-size: 18px;
  font-weight: 500;
  line-height: 160%;
  max-width: 500px;
}
.geography .canvas {
  margin-left: auto;
}

.projects {
  background-color: #113f8b;
}
.projects__wrapper {
  display: flex;
}

.inner_img {
  position: relative;
  z-index: 30;
  background-color: white;
}

#canvas_svg {
  max-width: 100%;
}
#canvas_svg path[data-region-id] {
  fill: #A4B1CA;
  transition: fill 0.2s;
}
#canvas_svg path[data-region-id].highlighted {
  fill: #184EB8;
}

.canvas__inner-popup {
  display: none;
  background: white;
  color: #333333;
  font-weight: bold;
  padding: 4px 8px;
  font-size: 13px;
  border-radius: 4px;
  pointer-events: none;
}

.map__popup {
  padding: 30px 10px;
  max-width: 500px;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-auto-rows: 1fr;
  gap: 14px 20px;
  font-family: Wix Madefor Display, sans-serif;
  font-size: 15px;
}
.map__popup__title {
  color: #8C8C8D;
  font-weight: 500;
}
.map__popup__text {
  font-weight: 700;
  font-size: 15px;
  color: #32333D;
}

/*# sourceMappingURL=style.css.map */
