img {
  object-fit: cover;
  max-width: 100%;
}

.hero_about {
  padding: 120px 0;
  position: relative;
  min-height: 350px;
  aspect-ratio: 1780/840;
}
.hero_about__text {
  max-width: 36%;
  font-size: 24px;
  line-height: 1.33;
}
.hero_about__text__intro {
  margin-bottom: 40px;
  max-width: 500px;
  color: var(--theme-blue);
  font-weight: 700;
}
.hero_about__text_common {
  font-weight: 300;
}
.hero_about__bg-image {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  z-index: 45;
  pointer-events: none;
}
.hero_about .parallelogram {
  position: absolute;
  right: 0;
  top: -200px;
  width: 24.5%;
  aspect-ratio: 21/37;
  background-color: var(--blue);
}

.strategy .container_1780 {
  padding-left: 0;
  position: relative;
  z-index: 30;
}
.strategy .container_1780 .title_h2 {
  position: absolute;
  left: 70px;
  top: -102px;
  color: var(--theme-blue);
}
.strategy__accordion {
  background-color: var(--blue);
}
.strategy__accordion .accordion-item {
  flex-grow: 0;
}
.strategy__accordion .accordion-item__tab {
  padding: 44px 4px 60px;
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 190px;
  flex-shrink: 0;
  font-size: 30px;
  font-weight: 300;
  line-height: 1;
  color: var(--theme-blue);
  border-left: 1px solid var(--theme-blue);
  cursor: pointer;
  position: relative;
  transition: color 0.15s;
  z-index: 20;
}
.strategy__accordion .accordion-item__tab__title {
  font-size: 100px;
  font-family: Bebas Neue, sans-serif;
  font-weight: 700;
  line-height: 0.8;
  text-transform: uppercase;
}
.strategy__accordion .accordion-item__tab__number {
  font-size: 120px;
  font-family: Bebas Neue, sans-serif;
  font-weight: 700;
  text-align: center;
}
.strategy__accordion .accordion-item__content {
  padding: 60px 160px 50px 60px;
  overflow: hidden;
  width: 0;
  color: white;
  position: relative;
  z-index: 15;
  display: none;
}
.strategy__accordion .accordion-item__content-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 5;
}
.strategy__accordion .accordion-item__content__title {
  font-size: 36px;
  font-weight: 700;
}
.strategy__accordion .accordion-item__content__bg-number {
  color: #15488f;
  font-size: 600px;
  font-family: Bebas Neue, sans-serif;
  position: absolute;
  bottom: -74px;
  right: -22px;
  line-height: 0.85;
  z-index: -1;
}
.strategy__accordion .accordion-item_active {
  flex-grow: 5;
}
.strategy__accordion .accordion-item_active .accordion-item__tab {
  border-right: 1px solid var(--theme-blue);
  color: white;
}
.strategy__accordion .accordion-item_active .accordion-item__content {
  display: block;
  translate: 0;
  width: auto;
}
.strategy__accordion .accordion-item_active .accordion-item__content p.accordion-item__text {
  margin-top: 40px;
  font-size: 24px;
  font-weight: 300;
}

.advantages .container_1780 {
  display: flex;
}
.advantages .title_h2 {
  margin-top: 64px;
}
.advantages__wrapper {
  margin-left: auto;
  max-width: 1060px;
  display: block;
  padding-bottom: 90px;
}
.advantages__intro {
  margin-bottom: 40px;
  font-size: 24px;
  line-height: 1.33;
  color: var(--theme-blue);
  font-weight: 700;
}
.advantages__item {
  margin-bottom: 24px;
  padding-left: 42px;
  position: relative;
  font-size: 24px;
  font-weight: 300;
  color: var(--blue);
}
.advantages__item::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 36px;
  height: 36px;
  background: url("../images/check3.png") center no-repeat;
  background-size: contain;
}
.advantages .parallelogram {
  margin-left: 70px;
  width: 33%;
  float: right;
  position: static;
}
.advantages__pattern {
  width: 36%;
  position: relative;
  flex-shrink: 0;
}
.advantages__pattern__parallelogram {
  clip-path: polygon(0 0, 100% 44%, 100% 100%, 0 56.3%);
  width: calc(100% + 70px);
  aspect-ratio: 310/560;
  background-color: var(--theme-blue);
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.advantages__pattern .line {
  height: 2px;
  background-color: var(--theme-blue);
  width: 200%;
  position: absolute;
  right: -1px;
  -webkit-transform-origin: top right;
  -moz-transform-origin: top right;
  -ms-transform-origin: top right;
  -o-transform-origin: top right;
  transform-origin: top right;
  rotate: 38deg;
}
.advantages__pattern .line_1 {
  bottom: -150px;
}
.advantages__pattern .line_2 {
  bottom: -300px;
}

.achievements .container_1780 {
  display: flex;
}
.achievements__intro {
  width: 36%;
  color: var(--blue);
}
.achievements__intro__highlighted {
  margin: 60px -210px 0 0;
  font-size: 30px;
  font-weight: 700;
}
.achievements__intro__list li {
  font-size: 24px;
  margin-top: 24px;
  max-width: 480px;
}
.achievements__intro__link {
  margin-top: 24px;
  display: block;
  font-size: 24px;
  color: var(--theme-blue);
}
.achievements__intro .title_h4 {
  font-size: 36px;
  font-weight: 800;
  line-height: 1;
  color: var(--blue);
}
.achievements__middle {
  position: relative;
  width: 47%;
  font-size: 0;
  clip-path: polygon(0 0, 52% 0, 100% 34%, 100% 100%, 48% 100%, 0 66%);
}
.achievements__middle::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.8;
  background: linear-gradient(to bottom, rgba(204, 243, 255, 0.6), #0e86d9);
}
.achievements__middle img {
  min-width: 100%;
  min-height: 100%;
}
.achievements__middle__text {
  position: absolute;
  bottom: 24px;
  right: 16px;
}
.achievements__projects-list {
  display: flex;
  flex-flow: column;
  width: 17%;
}
.achievements__counter {
  font-size: 218px;
  color: white;
  font-family: "Bebas Neue", sans-serif;
  line-height: 0.9;
}
.achievements__description__text {
  margin-left: 6px;
  font-size: 30px;
  font-weight: 700;
  color: var(--blue);
}
.achievements .title_h2 {
  color: var(--theme-blue);
}

.business {
  padding-right: 70px;
  position: relative;
}
.business__pattern {
  position: absolute;
  top: 300px;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("../../images/page_about/pattern_busines.png") left top no-repeat;
  background-size: cover;
  pointer-events: none;
  z-index: -1;
}

.bosses {
  padding: 40px 0;
}
.bosses .title_h2 {
  text-align: right;
}
.bosses__list {
  display: flex;
  gap: 80px;
}
.bosses__item {
  flex: 1;
}
.bosses__item__image-wrapper {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 34% 100%, 0 73%);
  font-size: 0;
  overflow: hidden;
}
.bosses__item__name {
  font-size: 30px;
  font-weight: 700;
  color: var(--blue);
  line-height: 1.2;
}
.bosses__item__occupation {
  font-size: 24px;
  line-height: 1.2;
  color: var(--theme-blue);
}
.bosses__item:first-child {
  position: relative;
}
.bosses__item:first-child::before {
  content: "";
  background-color: var(--blue);
  clip-path: polygon(0 0, 100% 44%, 100% 100%, 0 56.3%);
  position: absolute;
  top: 210px;
  left: -70px;
  width: calc(100% + 70px);
  aspect-ratio: 310/560;
  z-index: -1;
}
.bosses__item:first-child .bosses__item__name {
  color: white;
  text-shadow: 0 0 6px var(--blue);
}

.affiliated {
  padding: 70px 0 50px;
}
.affiliated .container_1780 {
  position: relative;
}
.affiliated .container_1780::before {
  background-color: var(--blue);
  clip-path: polygon(0 0, 100% 44%, 100% 100%, 0 56.3%);
  position: absolute;
  top: -124px;
  left: 0;
  width: calc(33.3333333333% - 6px);
  aspect-ratio: 310/560;
  z-index: -1;
}
.affiliated__pattern {
  background-color: var(--blue);
  clip-path: polygon(0 0, 100% 44%, 100% 100%, 0 56.3%);
  position: absolute;
  top: -124px;
  left: 0;
  width: calc(33.3333333333% - 6px);
  aspect-ratio: 310/560;
  z-index: -1;
}
.affiliated__pattern .line {
  height: 2px;
  background-color: var(--theme-blue);
  width: 200%;
  position: absolute;
  right: -1px;
  -webkit-transform-origin: top right;
  -moz-transform-origin: top right;
  -ms-transform-origin: top right;
  -o-transform-origin: top right;
  transform-origin: top right;
  rotate: 38deg;
}
.affiliated__pattern .line_1 {
  bottom: -150px;
}
.affiliated__pattern .line_2 {
  bottom: -300px;
}
.affiliated .title_h2 {
  line-height: 1;
  color: white;
  width: 30%;
}
.affiliated__wrapper {
  display: flex;
  gap: 32px;
  justify-content: space-between;
  align-items: end;
}
.affiliated__img-wrapper_1 {
  width: 23.6%;
}
.affiliated__img-wrapper_2 {
  width: 35%;
}
.affiliated img {
  max-width: 100%;
}

.partners_about {
  padding: 50px 0;
}
.partners_about .title_h2 {
  color: var(--theme-blue);
  width: 30%;
  white-space: nowrap;
}
.partners_about__list {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: space-between;
}
.partners_about__item_1 {
  max-width: 256px;
}
.partners_about__item_2 {
  max-width: 256px;
}
.partners_about__item_3 {
  max-width: 300px;
}

.license {
  padding: 100px 0 120px;
}
.license__header {
  margin: 0 0 40px auto;
  max-width: 1110px;
  display: flex;
  gap: 40px;
  align-items: flex-end;
}
.license__list {
  display: flex;
  gap: 80px;
  align-items: center;
  justify-content: space-between;
}
.license .title_h2 {
  line-height: 1;
  text-shadow: 0 0 8px white;
}
.license .link_blue {
  margin-bottom: 20px;
  font-size: 30px;
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 600px;
  background-color: white;
  z-index: -1;
}

@media only screen and (max-width: 1860px) {
  .bosses__item:first-child::before {
    top: 100px;
  }
}
@media only screen and (max-width: 1650px) {
  .hero_about {
    aspect-ratio: unset;
  }
  .strategy__accordion .accordion-item__content {
    padding: 60px 48px 50px;
  }
  .advantages__pattern {
    display: none;
  }
  .advantages__wrapper {
    max-width: unset;
  }
  .achievements .container_1780 {
    flex-flow: wrap;
  }
  .achievements__intro {
    width: 42%;
  }
  .achievements__intro__highlighted {
    margin-right: -120px;
    font-size: 24px;
  }
  .achievements__intro .title_h4 {
    font-size: 28px;
  }
  .achievements__middle {
    width: 58%;
  }
  .achievements__projects-list {
    width: 100%;
    flex-flow: row;
  }
}
@media only screen and (max-width: 1500px) {
  .hero_about__text {
    max-width: 50%;
  }
  .hero_about__bg-image {
    left: 22%;
    max-height: 100%;
  }
  .strategy__accordion .accordion-item__tab {
    width: 160px;
  }
}
@media only screen and (max-width: 1366px) {
  .strategy__accordion .accordion-item__tab {
    width: 140px;
  }
  .achievements {
    padding-top: 48px;
  }
  .achievements .title_h2 {
    font-size: 90px;
  }
  .achievements__intro__list li {
    font-size: 22px;
    margin-top: 12px;
  }
}
@media only screen and (max-width: 1280px) {
  .strategy .container_1780 {
    padding: 0;
  }
  .strategy__accordion .accordion-item__tab {
    font-size: 24px;
  }
  .strategy__accordion .accordion-item__tab__title {
    font-size: 80px;
  }
  .achievements__intro__highlighted {
    font-size: 22px;
  }
  .achievements__middle__text {
    bottom: 80px;
  }
}

/*# sourceMappingURL=about.css.map */
