.hero
  display: flex
  //flex-flow: column-reverse
  min-height: calc(100vh - 80px)
  position: relative
  background-repeat: no-repeat
  background-size: cover
  background-position: top center
  z-index: 10
  overflow: hidden
  &__content
    margin-left: 31%
    //width: 48%
    display: flex
    align-items: center
    justify-content: flex-end
    &__text
      position: relative
      text-align: center
      .img_1
        position: absolute
        top: 32px
        left: -256px
        width: 116px
        z-index: 10
      .img_2
        position: absolute
        top: -72px
        left: -182px
        height: 320px
        z-index: 10
      .img_3
        position: absolute
        top: -72px
        left: -182px
        height: 320px
        z-index: 10
    .hed
      display: none
    .blue
      position: relative
      z-index: 30
      color: #1086e0
      font-size: 94px
      font-weight: 700
      font-family: BebasNeue, sans-serif
      opacity: 0
      translate: -120px
      transition: opacity 0.3s, translate 0.4s ease-in-out
      &.show
        opacity: 1
        translate: 80px

  .title_h1
    //max-width: 372px
    //min-width: 340px
    width: 372px
    min-height: 84px
    color: white
    font-size: 36px
    font-weight: 700
    font-family: Roboro, sans-serif
    text-align: right
    text-wrap: balance
    position: relative
    z-index: 20
  &__img
    &-wrapper
      position: absolute
      display: flex
      img
        width: 100%
        max-height: 100%
      &_1
        bottom: 0
        //top: 0
        right: 0
        max-height: 75%
        height: 100%
        width: 50%
        align-items: end
        z-index: 10
      &_2
        bottom: 0
        //top: 0
        left: 0
        max-height: 80%
        height: 100%
        width: calc(50% + 35px)
        align-items: end
        z-index: 10
        svg
          //width: 100%
          max-height: 100%
          height: auto
          //max-width: 100%
          //position: absolute
          //top: 0
          //bottom: 0
          //left: 0
          //right: 0
          width: 100%
          aspect-ratio: 283/181
      &_3
        bottom: 0
        //top: 0
        right: 0
        //height: 100%
        aspect-ratio: 962/652
        width: calc(50% - 35px)
        align-items: end
        z-index: 10
      &.hide
        .hero__img__pattern
          &_1
            translate: 0 1200px
          &_2
            translate: 0 -1200px
          &_3
            translate: 0 -1200px

    &__pattern
      border: none
      position: absolute
      &_1
        //top: 0
        bottom: 48.5%
        left: 13%
        clip-path: polygon(0 0, 100% 44%, 100% 100%, 0 56.3%)
        //opacity: 0.7
        //background-color: #1086e0
        //background-color: rgba(8, 39, 90, 0.6)
        background-color: rgba(17, 63, 169, 0.7)
        width: 32%
        aspect-ratio: 310/540
        transition: translate 0.6s ease-in-out
      &_2
        bottom: -27%
        right: 0
        clip-path: polygon(0 0, 100% 42%, 100% 100%, 0 58%)
        opacity: 0.3
        background-color: #1086e0
        width: 55%
        aspect-ratio: 460 / 840
        transition: translate 0.6s ease-in-out
      &_3
        bottom: 8%
        left: 44%
        clip-path: polygon(0 0, 100% 42%, 100% 100%, 0 58%)
        //opacity: 0.5
        background-color: #1086e0
        width: 20%
        aspect-ratio: 460 / 840
        transition: translate 0.8s ease-in-out

  &__bg-wrapper
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    overflow: hidden
    &__static
  video
    position: absolute
    top: 0
    left: 0
    width: 100vw
    height: 100vh
    z-index: 1
    -o-object-fit: cover
    object-fit: cover
  //  /* filter: grayscale(50%); */
  //  filter: grayscale(80%) contrast(150%)
  &::after
    background: rgba(8, 39, 90, 0.7)
    content: ''
    display: block
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    z-index: 2

#svg_bg10
  //.fil1
  //  fill: #1086E0
  //  fill-rule: nonzero

  .fil0
    fill: transparent
    fill-rule: nonzero
    transition: fill 0.3s ease-in-out
    &.show
      fill: #1086E0

.benefits
  position: relative
  z-index: 20
  background-color: var(--dark-blue)
  &__list
    display: flex
  &__item
    position: relative
    flex: 1
    &__text
      padding: 26px 40px
      color: white
      font-size: 18px
      font-weight: 700
      font-family: Roboro, sans-serif
      position: relative
      z-index: 15
    &::before
      content: ''
      position: absolute
      top: 0
      bottom: 0
      aspect-ratio: 4/3
      clip-path: polygon(0 0, 0% 100%, 100% 100%)
      background-color: #113f8b
      z-index: 5

.services
  padding-top: 48px
  &__list
    display: grid
    grid-template-columns: repeat(2, 1fr)
    gap: 2px
  &__item
    position: relative
    overflow: hidden
    &__info
      padding: 100px 256px 40px 40px
      position: relative
      width: 90%
      height: 100%
      clip-path: polygon(0 0, 38% 0, 100% 100%, 0% 100%)
      background-color: var(--theme-blue)
      color: white
      z-index: 30
    &__number
      font-family: "Bebas Neue", sans-serif
      font-size: 120px
      color: #59bbff
    &__title
      margin-bottom: 14px
      font-family: Roboto, sans-serif
      font-size: 36px
      font-weight: 700
      line-height: 1.5
    &__text
      font-family: Roboto, sans-serif
      font-size: 16px
      font-weight: 400
      line-height: 1.5
    img
      position: absolute
      top: 0
      right: 0
      height: 100%
      z-index: 15
      filter: grayscale(1)
      transition: filter 0.5s, scale 0.4s
    &:hover
      img
        filter: grayscale(0)
        scale: 1.05
  .title_h2
    position: relative
    line-height: 88px

.career
  .container
    display: flex
    justify-content: flex-end
    position: relative
  &__text-block
    display: flex
    flex-flow: column
    justify-content: end
    font-size: 24px
    position: absolute
    bottom: 70px
    left: 0
    width: 680px
    &-wrapper
      position: relative
      width: 30%
      align-self: flex-end

    .text
      &_1
        margin-bottom: 20px
        color: var(--theme-blue)
        font-weight: 700
        max-width: 490px
      &_2
        color: var(--blue)
        max-width: 680px
  &__img
    &_1
      width: 47%
    &_2
      width: 23%
  &__static-bg
    //width: 80vw
    //height: 100vh
    margin-bottom: -45vh
    aspect-ratio: 1405/1080
    width: 77.5%
    background: url("../images/background-dude.png") left top 10% no-repeat
    //background: url("./images/background-dude.png") left top 10vh no-repeat
    background-size: contain
  &__statistics
    display: flex
    position: absolute
    top: 4%
    right: 19%
    color: #d1ecff
    &__left, &__number
      font-family: "Bebas Neue", sans-serif
      font-size: 13vw
      line-height: 0.7
    &__text
      margin-left: 1.6em
      font-size: 1.5vw
      font-weight: 700

.projects
  padding-top: 70px
  color: white
  background-color: #113f8b
  .title_h2
    color: white
    line-height: 0.8
  &__wrapper
    display: flex
    gap: 40px
  &__left-block
    flex: 31
  &__right-block
    padding-right: 48px
    flex: 1
    display: flex
    flex-flow: column
  &__top
    padding-right: 70px
    display: flex
    gap: 40px
    &__right
      width: 325px
    &__list
      padding-left: 70px
      margin-bottom: 110px
      display: flex
      gap: 60px
    &__item
      font-family: Roboto, sans-serif
      font-weight: 300
      font-size: 24px
      img
        margin-bottom: 44px
        height: 114px
  &__bottom
    padding-right: 70px
    display: flex
    gap: 50px
    &__list
      display: flex
      flex: 3
    &__item
      position: relative
      overflow: hidden
      aspect-ratio: 1
      min-width: 220px
      min-height: 220px
      flex: 1
      &:before
        content: ''
        position: absolute
        top: 0
        bottom: 0
        left: 0
        right: 0
        z-index: 20
        translate: 0 100%
        background: linear-gradient(rgba(14, 134, 217, 0.3), rgba(14, 134, 217, 0.9))
        transition: translate 0.3s ease-in-out

      img
        position: absolute
        top: 0
        bottom: 0
        min-height: 100%
        min-width: 100%

        //max-width: 100%
        //object-fit: cover
      &__text
        position: absolute
        bottom: 16%
        left: 16px
        max-width: 210px
        font-family: Roboto, sans-serif
        font-weight: 700
        font-size: 30px
        transition: translate 0.3s ease-in-out
        z-index: 30
      &__link
        margin-left: -8px
        padding: 8px
        position: absolute
        bottom: 0
        left: 16px
        //translate: 0 40%
        color: var(--dark-blue)
        opacity: 0
        visibility: hidden
        transition: translate 0.3s ease-in-out, opacity 0.2s, bottom 0.3s ease-in-out, color 0.2s
        &:after
          margin-left: auto
          content: ''
          position: absolute
          right: -100px
          bottom: -14px
          display: block
          height: 80px
          width: 64px
          background: url("../images/arrow_white.png") no-repeat
          background-size: contain
          transition: translate 0.3s ease-in-out, opacity 0.2s
        &:hover
          color: white
          &:after
            translate: 16px

      &:hover
        &:before
          translate: 0
        .projects__bottom__item
          &__text
            translate: 0 -40px
          &__link
            //translate: 0
            bottom: 16%
            opacity: 1
            visibility: unset
            z-index: 30
    &__description
      width: 325px

  &__right
    &__bottom
      margin: auto 0 64px 0
  &__description
    &__text
      margin: 1.5em 0 2em
      font-size: 30px
      font-weight: bold
  &__counter
    font-family: 'Bebas Neue', sans-serif
    font-size: 220px
    line-height: 0.9
    color: #1a8ada
  &__link
    padding: 6px 6px 2px 6px
    font-size: 24px
    color: var(--theme-blue)
    text-decoration: none
    border-bottom: 1px solid var(--theme-blue)

.geography
  padding: 80px 0 8px
  position: relative
  z-index: 20
  background-color: #F6F6F6
  &__wrapper
    display: flex
    position: relative
  &__text
    position: absolute
    top: 0
    left: 0
    //max-width: 520px
    display: flex
    gap: 48px
    h2
      margin-bottom: 24px
      color: var(--blue)
      font-family: "Bebas Neue", sans-serif
      font-weight: 400
      line-height: 0.8
      span
        display: block
        &:first-child
          padding-right: 0.65em
        &.colored
          color: var(--theme-blue)
          justify-self: end
          text-align: end
    p
      font-family: Roboto, sans-serif
      color: var(--blue)
      font-size: 24px
      font-weight: 300
      line-height: calc(32/24)
      max-width: 37%
  .canvas
    margin-left: auto

.partners
  background-color: var(--theme-blue)
  position: relative
  z-index: 20
  .container
    display: flex
    font-size: 0
    > div
      //flex: 1
      width: 50%
  .title_h2
    line-height: 1
    .colored
      color: white
  &__left
    position: relative
  &__image-wrapper
    overflow: hidden
    clip-path: polygon(32% 0, 100% 55%, 100% 100%, 0 100%, 0 0)
    img
      object-fit: cover
      max-height: 920px
  &__info
    padding: 60px 70px 0 150px
    text-align: right
    &__text
      margin-top: 8px
      color: white
      font-size: 24px
      font-weight: 700
      font-family: Roboro, sans-serif

  &__parallelogram
    background-color: var(--blue)
    clip-path: polygon(0 0, 100% 44%, 100% 100%, 0 56.3%)
    position: absolute
    top: 15%
    right: -8%
    width: 32.3%
    aspect-ratio: 310/560
    z-index: 30
  &__list
    margin-top: 64px
    display: grid
    //grid-template-columns: repeat( auto-fit, minmax(150px, 220px))
    grid-template-columns: repeat(3, 1fr)
    gap: 60px 20px
  &__item
    overflow: hidden
    +center()
    &_1
      translate: 0 -30%
    img
      max-inline-size: 100%
      object-fit: contain
    &:nth-child(3n + 1)
      place-self: center start
      img
        margin-right: auto
    &:nth-child(3n + 2)
      place-self: center
      img
        margin: auto
    &:nth-child(3n + 0)
      place-self: center end
      img
        margin-left: auto
    &_1
      img
        max-width: 75%
    &_3
      img
        max-width: 60%
    &_5
      img
        max-width: 45%
    &_7
      img
        max-width: 66%
    &_9
      img
        max-width: 60%
    &_11
      img
        max-width: 50%
    &_12
      img
        max-width: 95%

.blog
  padding: 20px 0 80px
  position: relative
  z-index: 40
  &__header
    margin-bottom: 70px
    display: flex
    gap: 20px
    &__link
      color: var(--theme-blue)
      font-size: 24px
      font-weight: 700
      display: flex
      flex-flow: column
  &__content
    display: flex
    gap: 70px
  &__item
    padding: 32px 40px
    display: flex
    gap: 30px
    background-color: white
    border: 1px solid #dadada
    container-type: inline-size
    &:not(:last-child)
      margin-bottom: 16px
    &__image-wrapper
      width: 132px
      height: 132px
      flex-shrink: 0
      overflow: hidden
      img
        min-width: 100%
    &__body
      display: flex
      position: relative
      flex-flow: column
      gap: 12px
    &__header
      display: flex
      justify-content: space-between
    &__published
      color: #c4c3c3
      font-weight: 700
      font-size: 18px
    &__descr
      font-weight: 300
      font-size: 18px
    &__link
      color: var(--theme-blue)
      font-weight: 700
      font-size: 18px
      &::after
        content: ''
        position: absolute
        bottom: 16px
        right: 0
        width: 70px
        height: 108px
        background: url("../images/arrow_grey.png") no-repeat
    &_big
      padding: 0
      flex-flow: column
      border: none
      .blog__item
        &__image-wrapper
          width: auto
          height: unset
          flex-shrink: 0
          overflow: hidden

  .col
    width: 50%
    &_2
      padding-right: 70px
  .title
    &_h2
      position: relative
      color: white
      line-height: 0.9
      &::before
        content: ''
        background-color: var(--blue)
        clip-path: polygon(0 0, 100% 44%, 100% 100%, 0 56.3%)
        position: absolute
        top: -162px
        right: -8%
        width: 230px
        aspect-ratio: 310 / 560
        z-index: -1
    &_h3
      color: var(--blue)

.pattern
  &__wrapper_partners
    position: relative
    .pattern_1
      position: absolute
      top: 0
      left: -20px
      right: 0
      bottom: 0
      background: url("../images/background-partners.png") left bottom no-repeat
      background-size: contain
      z-index: 30
      pointer-events: none

